body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url('http://ourpolitics.net/wp-content/uploads/2017/12/events.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Suranna', serif;
  font-size: 20px;
}


img{
  width: 200px;
}

.event-div {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 120px;
  border-radius: 25px;
  background: white;
  color: black;
  opacity: .8;
  box-shadow: 6px 6px 4px grey;
}

.show-div {
  border: 1px solid black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 25px;
  background: white;
  color: black;
  opacity: .8;
  box-shadow: 6px 6px 4px black;
  margin-top: 40px;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  background: #418bb5;
  padding-top: 20px;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  text-decoration: none;
  color: white
}

.event-div > a {
  color: black;
}

.form {
  margin: 0 auto;
  text-align: center;
}

h5 {
  color: white;
}

.header > h1 {
  color: white;
}
